Projects/Linear Regression/ex.py
Projects/Linear Regression/Lin_Reg.py
Neural-Nets-From-Scratch/saved models
Projects/Hand-Written-Digit-Recognizer/Saved Models
Projects/Hand-Written-Digit-Recognizer/Data